# Define path to cache and memory zone. The memory zone should be unique.
# keys_zone={{ ansible_nodename }}:100m creates the memory zone and sets the maximum size in MBs.
# inactive=60m will remove cached items that haven't been accessed for 60 minutes or more.
fastcgi_cache_path /sites/{{ ansible_nodename }}/cache levels=1:2 keys_zone={{ ansible_nodename }}:100m inactive=60m;

server {
    # Ports to listen on
    listen 80;
    listen [::]:80;

    # Server name to listen for
    server_name {{ ansible_nodename }};

    # Path to document root
    root /sites/{{ ansible_nodename }}/public;

    # File to be used as index
    index index.php index.html;

    # Overrides logs defined in nginx.conf, allows per site logs.
    access_log /var/log/nginx/{{ ansible_nodename }}.access.log;
    error_log /var/log/nginx/{{ ansible_nodename }}.error.log;

    # Default server block rules
    include global/server/defaults.conf;

    # Fastcgi cache rules
    include global/server/fastcgi-cache.conf;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        try_files $uri =404;
        include global/fastcgi-params.conf;

        fastcgi_pass unix:/var/run/php-fpm/php7.1-fpm.sock;

        # Skip cache based on rules in global/server/fastcgi-cache.conf.
        fastcgi_cache_bypass $skip_cache;
        fastcgi_no_cache $skip_cache;

        # Define memory zone for caching. Should match key_zone in fastcgi_cache_path above.
        fastcgi_cache {{ ansible_nodename }};

        # Define caching time.
        fastcgi_cache_valid 60m;
    }
}
